<!DOCTYPE html>
<html lang="en">
<head>
    <title>To-Do list</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="innerbox1">
        <div class="box1">
            <h1>To-Do list :</h1>
        </div>
    </div>
    
    <% if(arr.length > 0){ %>
        <% for(var i=0; i<arr.length; i++){ %>
            <div class="item">
                <form action="/delete" method="POST">
                    <div class="listEle">
                        <input class="check inside" type="checkbox" value = "<%= i %>">
                        <p class="task inside"><%= arr[i] %></p>
                        <button class="delete inside" name="delete" value = "<%= i %>">x</button>
                    </div>
                </form>
            </div>
        <% } %>
    <% } %>
    <body>
    <% if (typeof req !== 'undefined' && req.query.error === 'empty') { %>
        <script>
            alert("Task cannot be empty.");
        </script>
    <% } %>

    <form action="/" method="POST" class="done">
        <div class="formbox">
            <input type="text" placeholder="Enter new task" name="element">
            <button class="submit" type="submit">+</button>
        </div>
    </form>
</body>
</html>